

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header{
    border-bottom: 1px solid #dedcda;
}

.header > a i{
    margin: 1rem 0rem 0rem 1rem;
    color: blue;
}


.logo{
    text-align: center;
    margin-top: -1.5rem;
    padding-bottom: .5rem;
}


/* ***************CREATE AN ACCOUNT************** */


form{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    width: 31vw;
    margin: auto;
}

form > h1 {
    margin-top:1rem;
}

form > input {
    height: 2rem;
    width: 20rem;
    border-radius: .3rem;
}

.keep,.deal{
    display:flex;
}

.keep > p{
    margin-left: 1rem;
}

.deal > p{
    margin-left: 1rem;
}


p > a{
    text-decoration: none;
}

button{
    height: 2.5rem;
    background-color:#b7c7f1;
    color: #fff;
    border-radius:.5rem;
    cursor: pointer;
}

button > a{
    text-decoration: none;
    color: black;
}

.already{
    text-align: center;
    margin: 1rem;
}

.already > p{
    margin: 1rem;
}


.social a > i{
    margin: .5rem;
    color: black;
}